.container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    width: 100%;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    box-sizing: border-box;
    transition: height 0.2s;
    height: 68px;
}

.notification {
    position: relative;
    display: block;
    margin: 0 30px;
}
